body{
    background: #f1f1f1;
}
.container-form{
   
    margin: 0 auto;
    max-width: 500px;
    height: auto;
    padding-top: 50px;
    position: relative;
   
   form{
       display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: left;
        max-width: 500px;
         .text {
    margin-top: 30px;
    font-size: 14px;
}
.email{
    margin-top: 30px;
}
input:first-child{
    margin-top: 10px;
    margin-bottom: 30px;
}
.submit{
    margin-top: 20px;
}
   }
}

